.container_dentric {
  padding: 15px 0px 15px 0px;
}
.container_nosotros {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
}
.item_nosotros img {
  max-width: 100%;
  border-radius: 2px 50px;
}
.item_nosotros:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
.item_nosotros:nth-child(2) h2 {
  font-size: 30px;
}
.item_nosotros:nth-child(2) p {
  font-size: 18px;
  text-align: justify;
  padding: 5px 20px;
}
.item_nosotros:nth-child(2) a {
  background-color: #3ab0ff;
  padding: 11px 25px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 7px;
}
.container_servicios {
  background-color: #0854f8;
  width: 100%;
  padding-bottom: 20px;
}
.container_servicios h2 {
  font-size: 35px;
  color: #fff;
  padding: 20px 0px 10px 0px;
  text-align: center;
}
.servicios {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: auto;
  padding: 20px;
  gap: 20px;
}
.item_servicios {
  padding: 1.5em;
  border: 2px double #fff;
}
.item_servicios img {
  max-width: 25%;
}
.item_servicios p {
  color: #fff;
  text-align: justify;
}
.item_servicios h2 {
  font-size: 18px;
  text-align: center !important;
}
@media (max-width: 767px) {
  .container_dentric {
    padding: 0px 0px 15px 0px;
  }
  .container_nosotros {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: auto;
    gap: 15px;
  }
  .item_nosotros:nth-child(1) {
    margin-top: 15px;
  }
  .item_nosotros:nth-child(2) {
    gap: 0px;
  }
  .item_nosotros:nth-child(2) h2 {
    font-size: 25px;
  }
  .item_nosotros:nth-child(2) p {
    font-size: 15px;
    text-align: justify;
    padding: 5px 0px;
  }
  .servicios {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin: auto;
    padding: 10px;
    gap: 20px;
  }
  .item_servicios p {
    color: #fff;
    text-align: justify;
    font-size: 13px;
  }
  .item_servicios h2 {
    font-size: 16px;
  }
  .item_servicios {
    padding: 0.7em;
    border: 2px double #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container_servicios h2 {
    color: #fff;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .item_nosotros:nth-child(2) h2 {
    font-size: 22px;
  }
  .item_nosotros:nth-child(2) p {
    font-size: 14px;
    text-align: justify;
    padding: 5px 0px;
  }
}
