.aseguradoras {
  width: 100%;
  text-align: center;
  margin: auto;
  overflow-x: hidden;
}
.aseguradoras h2 {
  font-size: 1.4em;
}
.container-aseguradoras {
  width: 90%;
  margin: 15px auto;
  position: relative;
  height: 130px;
  overflow-x: hidden;
}
.seguros {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  gap: 10px;
  animation-name: slide;
  animation-duration: 25s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  overflow-x: hidden;
}

.item-seguros img {
  width: 200px;
  height: 120px;
  object-fit: contain;
}
@keyframes slide {
  0% {
    left: -0px;
  }
  5% {
    left: -200px;
  }
  10% {
    left: -400px;
  }
  15% {
    left: -600px;
  }
  20% {
    left: -800px;
  }
  25% {
    left: -1000px;
  }
  30% {
    left: -1200px;
  }
  35% {
    left: -1400px;
  }
  40% {
    left: -1400px;
  }
  45% {
    left: -1200px;
  }
  50% {
    left: -1000px;
  }
  55% {
    left: -800px;
  }
  60% {
    left: -600px;
  }
  65% {
    left: -400px;
  }
  70% {
    left: -200px;
  }
  75% {
    left: -0px;
  }
}
@media (min-width: 768px) {
  .aseguradoras h2 {
    font-size: 2em;
    text-transform: uppercase;
  }
  .container-aseguradoras {
    width: 90%;
    margin: 20px auto;
    position: relative;
    height: 130px;
    padding: 15px auto;
    overflow-x: hidden;
  }
}
