.cinta {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #0d91f9;
  padding: 20px 75px;
}
.item_cinta:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.item_cinta:nth-child(1) h6 {
  font-size: 25px;
  color: #fff;
}
.item_cinta:nth-child(1) p {
  font-size: 20px;
  color: #fff;
}
.item_cinta:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item_cinta:nth-child(2) a {
  background-color: #0a528c;
  padding: 0;
  border: none;
  width: 170px;
  padding: 17px 0px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
}
.item_cinta:nth-child(2) a i {
  color: #fff;
  font-size: 17px;
  margin-right: 7px;
}

@media (max-width: 767px) {
  .cinta {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #0d91f9;
    padding: 20px 25px;
    gap: 20px;
  }
  .item_cinta:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .item_cinta:nth-child(1) h6 {
    font-size: 18px;
    color: #fff;
  }
  .item_cinta:nth-child(1) p {
    font-size: 16px;
    color: #fff;
  }
  .item_cinta:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
