.galery {
  width: 100%;
  margin: auto;
  padding: 10px 0px 20px 0px;
}
.galery h2 {
  text-align: center;
  font-size: 35px;
  color: #003b6d;
}

.container-galery {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 10px auto;
  gap: 15px;
}
.item-galery img {
  max-width: 100%;
  transition: 0.5s;
}
.item-galery p {
  font-size: 1.1em;
  color: #003b6d;
  font-weight: 600;
  text-transform: uppercase;
}
.item-galery img:hover {
  transition: 0.5s;
  transform: scale(0.9);
}
@media (max-width: 767px) {
  .container-galery {
    grid-template-columns: repeat(2, 1fr);
  }
  .galery h2 {
    text-align: center;
    font-size: 22px;
  }
  .item-galery p {
    font-size: 0.9em;
    color: #003b6d;
    font-weight: 600;
    text-transform: capitalize;
  }
}
@media (max-width: 400px) {
  .container-galery {
    grid-template-columns: repeat(1, 1fr);
  }
  .galery h2 {
    text-align: center;
    font-size: 22px;
  }
  .item-galery p {
    font-size: 0.9em;
    color: #003b6d;
    font-weight: 600;
    text-transform: capitalize;
  }
}
